@import url(https://fonts.googleapis.com/css?family=Nunito);.usersManagement {
  background-color: white;
  float: none;
}

.usersManagement .header {
  text-transform: uppercase;
}

.usersManagement .row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  font-size: 20px;
}

.usersManagement .add-new {
  float: right;
}

.usersManagement .delete {
  color: red;
  cursor: pointer;
}

.modal-title {
  text-transform: uppercase;
}

.modal-footer button {
  border: none;
  background-color: transparent;
}

