@import url(https://fonts.googleapis.com/css?family=Nunito);.usersManagement {
  background-color: white;
  float: none;
}

.usersManagement .header {
  text-transform: uppercase;
}

.usersManagement .row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  font-size: 20px;
}

.usersManagement .add-new {
  float: right;
}

.usersManagement .delete {
  color: red;
  cursor: pointer;
}

.usersManagement .device-form {
  height: 34px;
  margin-bottom: 2rem;
}

.usersManagement .device-form form {
  height: 100%;
}

.usersManagement .device-form select {
  float: left;
  height: 100%;
  min-width: 13rem;
  background-color: white;
  margin-right: 1rem;
}

.usersManagement .device-form .date {
  width: 220px;
  float: left;
  margin-right: 1rem;
}

.usersManagement .device-form .add-new {
  float: none;
}

.modal-title {
  text-transform: uppercase;
}

.modal-footer button {
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .content-header {
    text-align: center;
  }

  .content {
    padding: 0;
  }

  .content .usersManagement {
    padding: 0;
  }

  .content .usersManagement h2 {
    font-size: 20px;
  }

  .content .usersManagement .table-bordered {
    font-size: 16px;
  }

  .content .usersManagement .table-form {
    text-align: center;
  }

  .content .usersManagement .table-form td {
    display: block;
  }

  .content .usersManagement .table-form .btn-info {
    float: none;
  }
}

.loginCard {
  left: 50%;
  transform: translate(-50%, 0);
  background-color: lightsteelblue;
  margin-top: 30px;
}

