.usersManagement{
    background-color: white ;
    float: none;
    .header{
        text-transform: uppercase;
    }
    .row{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        font-size: 20px;
    }
    .add-new{
        float: right;
    }
    .delete{
        color: red;
        cursor: pointer;
    }
}

.modal-title{
    text-transform: uppercase;
}
.modal-footer button{
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .content-header {
        text-align: center;
    }
    .content {
        padding: 0;

        .usersManagement {
            padding: 0;

            h2 {
                font-size: 20px;
            }

            .table-bordered {
                font-size: 16px;
            }

            .table-form {
                text-align: center;

                td {
                    display: block;
                }

                .btn-info {
                    float: none;
                }
            }
        }
    }
}

