.usersManagement {
    background-color: white;
    float: none;

    .header {
        text-transform: uppercase;
    }

    .row {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        font-size: 20px;
    }

    .add-new {
        float: right;
    }

    .delete {
        color: red;
        cursor: pointer;
    }
    .device-form{
        height: 34px;
        margin-bottom: 2rem;

        form{
            height: 100%;
        }
        select{
            float: left;
            height: 100%;
            min-width: 13rem;
            background-color: white;
            margin-right: 1rem;
        }
        .date{
            width: 220px;
            float: left;
            margin-right: 1rem;
        }
        .add-new{
            float: none;
        }
    }
}

.modal-title {
    text-transform: uppercase;
}

.modal-footer button {
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .content-header {
        text-align: center;
    }
    .content {
        padding: 0;

        .usersManagement {
            padding: 0;

            h2 {
                font-size: 20px;
            }

            .table-bordered {
                font-size: 16px;
            }

            .table-form {
                text-align: center;

                td {
                    display: block;
                }

                .btn-info {
                    float: none;
                }
            }
        }
    }
}

