.usersManagement{
    background-color: white ;
    float: none;
    .header{
        text-transform: uppercase;
    }
    .row{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        font-size: 20px;
    }
    .add-new{
        float: right;
    }
    .delete{
        color: red;
        cursor: pointer;
    }
}

.modal-title{
    text-transform: uppercase;
}
.modal-footer button{
    border: none;
    background-color: transparent;
}
